<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>RailwayCross</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>welcome.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.railway.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RailwayCrossingServlet</servlet-name>
        <servlet-class>com.railway.RailwayCrossingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>com.railway.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCrossingServlet</servlet-name>
        <servlet-class>com.railway.AddCrossingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <servlet-class>com.railway.UpdateStatusServlet</servlet-class>
    </servlet>
   
    


    <!-- Servlet Mappings -->

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RailwayCrossingServlet</servlet-name>
        <url-pattern>/railwayCrossings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/adminDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCrossingServlet</servlet-name>
        <url-pattern>/addCrossing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <url-pattern>/updateStatus</url-pattern>
    </servlet-mapping>
 





</web-app>